#header {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 275px;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 2rem;
    font-weight: 700;
}

#avatar {
    border-radius: 50%;
    height: 36px;
}
#larger-avatar {
    border-radius: 50%;
    height: 60px;
}

.header-search, .user-menu, .welcome-user, .user-options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-search input {
    border: none;
    background: #dbeafe;
    padding: .33rem 1rem;
    width: 100%;
    max-width: 500px;
    border-radius: 99px;
    outline: none;
}

.user-menu {
    justify-content: end;
    gap: 1.5rem;
    transform: translate(-0.67rem, -0.33rem);
}

.user-options {
    align-items: center;
    justify-content: end;
    transform: translateY(0.33rem);
}
.user-options button {
    padding: 0.5rem 1.25rem;
    border: none;
    border-radius: 99px;
    background-color: #0ea5e9;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.user-options button:hover {
    background-color: #38bdf8;
}
